@model uint
@{
    ViewData["Title"] = "Удаление " + ViewBag.login;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Вы действительно хотите удалить пользователя @ViewBag.login?</h4>

<div class="btn-group">
    <form asp-action="Delete" method="post" asp-controller="User">
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
    <a type="button" class="btn btn-dark" asp-controller="User" asp-action="Edit">Назад</a>
</div>