@model AddTicketViewModel
@{
    ViewData["Title"] = "Редактировать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Записаться на прием</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTicket" method="post" asp-controller="Doctors">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SchId" />
            <input type="hidden" asp-for="UserId" />            
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <input type="submit" asp-action="AddTicket"
                           class="btn btn-primary" value="Записаться" />
                    <a asp-action="Schedule" asp-route-id="@Model.DocId" class="btn btn-dark">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</div>
