@model DoctorStatsViewModel
@{
    ViewData["Title"] = "Стата";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Статистика работника за месяц</h4>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Count)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Count)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Duration)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Duration)
    </dd>
</dl>
<a class="btn btn-primary" asp-action="Index">Назад</a>